.card {
    width: 350px;
    border-radius: 15px;
    background-color: cadetblue;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 70%);
}

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d7e1ee;
}

.poke-card .picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #FFF;
    margin-top: 16px;
}

.poke-card .name {
    text-transform: capitalize;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.poke-card-footer {
    display: flex;
    justify-content: space-around;
}

.base-stat {
    text-align: center;
    margin-top: 8px;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}